<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="bootstrap.css">
	<link rel="stylesheet" href="style.css">
</head>

<body class="gradient-custom  ">
	
		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg navbar-light ">
			<a class="navbar-brand" href="#">RT:STATS</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav ms-auto">
					<a class="nav-link active" aria-current="page" href="#">Home</a>
					<a class="nav-link" href="#">Contact</a>
					<a class="nav-link" href="auth/steam">Sign in via Steam</a>
				</div>
			</div>
		</nav>
		</div>
	
	<section class="section-1" >
		<img src="Fondo.svg" class="chart" alt="">
		<div class="container-fluid ">
			<div class="row">
				<div class="col-6  ">
					
					<h2 class="text-white">Stop playing for win Start playing for learning</h2>
					<p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero
						et velit interdum, ac aliquet odio mattis.</p>
					<a href="" class="btn btn-warning">GET STARTED</a>
					<img src="Vector 1.svg" class="forecast" alt="">
					
					
					
					
				
				</div>
				<div class="col-4">
					<img class="soldier1" src="Soldier.svg" alt="">

				</div>
			
			
				
			</div>
			
		</div>
		
	</section>
</body>
<script src="/bootstrap.min.js"></script>
</html>





