body {
    font-family: 'Poppins', sans-serif; 
    background-color: #20244a;
  }
  

  h1,h2,h3,h4,h5,h6{
    color: #9b9ca7;
  }


  .forecast {
    
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
  }

  .soldier1{
   position: fixed;
   right: 0;
   bottom: 0;
   width: 31%;
    pointer-events: none;
  }

  .chart{
    position: fixed;
    right: 0;
    left: 0;
    
    width: 100%;
    pointer-events: none;

  }
  .card{
    background: radial-gradient(circle, #1a2049 0%, #13162f 100%);
  }


  



  .navbar .navbar-brand{
    font-size: 40px;
    margin-left: 52px;
  }
  .navbar .nav-link{
    font-size: 20px;
    margin-right: 45px;
  }
  .navbar a{
    color:white !important;
  }
  
  .section-1 h2{
    margin-top: 213px;
    margin-left: 50px;
    font-size: 45px;
    width: 47%;
  }
  .section-1 p{
    margin-top: 33px;
    margin-left: 50px;
    font-size: 20px;
    width: 614px;
  }
  .section-1 .soldier-image{
    margin-left: 50.4%;
  }
  .section-1 .btn-warning{
    margin-left: 50px;
    margin-top:33px;
    border-radius: 30px;
    font-style: normal;
    font-size: 20px;
    padding: 17px,44px;
  }

  
  .section-2 .container-profile{
    padding: 8px 12px; margin-left: 50px; margin-top: 50px; margin-right: 50px;
  }
  .section-2 .container-header{
    margin-left:35px;
    
    
    
  }
  .section-2 .container-userName{
    margin-top: 60px;
  }

  .masthead {
    height: 320px;
   
    background-image:  linear-gradient(0deg, rgba(0, 0, 0, 0.704) 10%, rgba(0,0,0,0) 45%),
    url(' https://cdn.wallpapersafari.com/57/51/Ci6p3R.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  ul {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

li {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
    background-color: white;
    padding: 0 0.75em;
    z-index: 1;
}

li:first-child {
    padding-left: 0;
}

li:last-child {
    padding-right: 0;
}

ul:after {
    content: '';
    border-bottom: 1px solid lightgray;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: 100%;
}

  

  

