body {
    font-family: 'Poppins', sans-serif; 
  }
  .gradient-custom {
    /* fallback for old browsers */
    background: #182141;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(24, 33, 65, 1), rgba(48, 77, 120, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(24, 33, 65, 1), rgba(48, 77, 120, 1));
  }
  .vector{
    
    background-image: url(../public/images/Vector\ 1.svg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain; 
  }

  .forecast {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
  }

  .navbar .navbar-brand{
    font-size: 40px;
    margin-left: 52px;
  }
  .navbar .nav-link{
    font-size: 20px;
    margin-right: 45px;
  }
  .navbar a{
    color:white !important;
  }
  .section-1{
    background-image: url(../public/images/Vector.png);
  }
  .section-1 h2{
    margin-top: 213px;
    margin-left: 50px;
    font-size: 45px;
    width: 47%;
  }
  .section-1 p{
    margin-top: 33px;
    margin-left: 50px;
    font-size: 20px;
    width: 614px;
  }
  .section-1 .soldier-image{
    margin-left: 50.4%;
  }
  .section-1 .btn-warning{
    margin-left: 50px;
    margin-top:33px;
    border-radius: 30px;
    font-style: normal;
    font-size: 20px;
    padding: 17px,44px;
  }


